@model Web_v0._1.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<div class="page-header">
    <h2>Login</h2>
</div>

@using (Html.BeginForm("Login", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="editor-label">
        @Html.LabelFor(model => model.Username)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Username)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Password)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    @Html.HiddenFor(model => model.ReturnUrl)
    
    <hr />

    <button type="submit" class="btn btn-success btn-block">Login</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Login.js")
}
